body {
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: 10px !important;
}

.title {
    text-align: center;
}

.main {
    text-align: center;
}

#qtd-disco {
    width: 5%;
}


.vertical {
    background-color: black;
    width: 15px;
    height: 200px;
    margin: 0 auto;
}

.base {
    background-color: black;
    width: 34%;
    height: 10px;
    margin: 0 auto;
}

.torres {
    width: 33%;
    /*background-color: red;*/
    display: inline-table;
}

.game {
    margin: 10px auto;
    width: 50%;
    background-color: #eed5b7;
}

.game-info {
    padding: 10px;
}

    .game-info h4 {
        text-align: left;
    }

.azul {
    width: 3%;
    background-color: blue;
    left: 32%;
}

.branco {
    width: 5%;
    background-color: white;
    left: 31%;
}

.vermelho {
    width: 6%;
    background-color: red;
    left: 30.5%;
}

.verde {
    width: 7%;
    background-color: #20ce83;
    left: 30%;
}

.laranja {
    width: 8%;
    background-color: #FFA500;
    left: 29.6%;
}

.roxo {
    width: 9%;
    background-color: #8E66D9;
    left: 29.1%;
}

.bordo {
    width: 10%;
    background-color: #800000;
    left: 28.5%;
}

.disco {
    height: 10px;
    position: absolute;
    float: left;
}

.posicao_1 {
    margin-top: -0.8%;
}

.posicao_2 {
    margin-top: -1.8%;
}

.posicao_3 {
    margin-top: -2.9%;
}

.posicao_4 {
    margin-top: -4.1%;
}

.posicao_5 {
    margin-top: -5.3%;
}

.posicao_6 {
    margin-top: -6.5%;
}

.posicao_7 {
    margin-top: -7.8%;
}

.azul.torre_1 {
    left: 32%;
}

.azul.torre_2 {
    left: 48.4%;
}

.azul.torre_3 {
    left: 64.9%;
}

.branco.torre_1 {
    left: 31%;
}

.branco.torre_2 {
    left: 47.4%;
}

.branco.torre_3 {
    left: 63.9%;
}

.vermelho.torre_1 {
    left: 30.5%;
}

.vermelho.torre_2 {
    left: 46.9%;
}

.vermelho.torre_3 {
    left: 63.4%;
}

.verde.torre_1 {
    left: 30%;
}

.verde.torre_2 {
    left: 46.5%;
}

.verde.torre_3 {
    left: 62.9%;
}

.laranja.torre_1 {
    left: 29.6%;
}

.laranja.torre_2 {
    left: 45.9%;
}

.laranja.torre_3 {
    left: 62.4%;
}

.roxo.torre_1 {
    left: 29.1%;
}

.roxo.torre_2 {
    left: 45.4%;
}

.roxo.torre_3 {
    left: 61.9%;
}

.bordo.torre_1 {
    left: 28.5%;
}

.bordo.torre_2 {
    left: 44.9%;
}

.bordo.torre_3 {
    left: 61.3%;
}

.contador {
    color: red;
    float: right;
}

.bottom {
    padding: 10px;
    margin: 3px;
    text-align: center;
}

.jogo-id {
    font-weight: bold;
}

.qtd-mov-necessario {
    font-weight: bold;
}

.qtd-mov-realizado {
    font-weight: bold;
}

.tempo-decorrido {
    font-weight: bold;
}

.hand {
    cursor: pointer;
}

.menu {
    text-align: center;
    margin: 0px 0px 0px -48px;
}

    .menu ul li {
        display: inline;
        margin: 10px;
    }

    .menu li:hover {
        text-decoration: underline;
        cursor: pointer;
    }


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

    .footer span {
        color: #1e70bf;
    }

.log-disco {
    width: 35px;
    height: 10px;
    border: 1px solid #ccc;
}
